body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#star-btn, #star-btn:active {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#star-btn:focus {
  box-shadow: unset;
}

.on {
  color: #0b5ed7 !important
}

.off {
  color: #ccc;
}
